body {
    background-color:rgb(204, 240, 240);
}
h1 {
    color:rgb(237, 50, 116);
    font-size:37px;
    font-family:georgia;
    text-align: center;
}
h2 {
    color:rgb(237, 50, 116);
    font-size:60px;
    font-family:georgia;
    text-align: center;
}
.remember {
    background-color:rgb(247, 163, 182);
    color:rgb(10, 10, 115);
    font-size:20px;
    font-family:Georgia;
}
.localisation {
    color:rgb(196, 29, 90);
    font-size:25px;
    font-family:Georgia;
}
ol {
   
    color:rgb(196, 29, 90);
    font-size:15px;
    font-family:Georgia;
}
img {
 
    border:7px double rgb(184, 168, 26);
    width:"450";
}
p{
    color:rgb(43, 8, 46);
    font-size:15px;
    font-family:Georgia;  
}
ul{
    color:rgb(43, 8, 46);
    font-size:15px;
    font-family:Georgia;  
}
thead {
     background-color:rgb(196, 29, 90);
    color:rgb(43, 8, 46);
    font-size:17px;
    font-family:Georgia;
}
tbody {
    background-color:rgb(235, 218, 237);
    color:rgb(43, 8, 46);
    font-size:15px;
    font-family:Georgia;
}
th {
    border:10;
    border:5px double rgb(184, 168, 26);
    width:auto;
}
td {
    border:10;
    border:5px double rgb(184, 168, 26);
    width:auto;
}